
<ion-content [fullscreen]="true">
  <!-- (ionSlideDidChange)='ionSlideDidChange()' -->
  <ion-slides #slider pager="true" [options]="slideOpts" (ionSlideNextStart)="ionSlideDrag($event)">
    <ion-slide *ngFor="let user of usersList">
      <ion-card mode="ios">
       
<!-- when user click on image icon this div is active -->
        
        <div *ngIf="this.selectedSection=='images' ">
          <img class="background-img" src="../../assets/hijab.jpeg">
          <ion-card-header>
            <ion-card-title class="">
              <div class="name">
                <h1 class=""> {{user.name}} </h1>
                <ion-icon name="heart"></ion-icon>
              </div>
              <h4>{{user.designation}} <br>{{user.location}}</h4>
            </ion-card-title>

          </ion-card-header>
        </div>

<!-- when user click on Person icon this div is active and details show -->


        <div class="description-section " *ngIf="selectedSection=='personal-detail'">
          <div class="description-heading ion-padding" >
            <h1 class="ion-text-start ">About me</h1>
            <img class="ion-text-end" src="../../assets/hijab copy.jpeg" alt="">
          </div>
          
          <div class="description-content">
            <p>{{user.description}}</p>
            <div class="features ion-padding">
              <div class="detail " *ngFor="let item of user.about_detail" >
                <ion-icon  name={{item.icon}}></ion-icon>
                <ion-label>{{item.name}}</ion-label>
              </div>
              
            </div>
          </div>
         
        </div>

<!-- when user click on book icon this div is active and details show  of deen section-->


        <div class="deen-section " *ngIf="selectedSection=='deen'">
          <div class="deen-heading ion-padding" >
            <h1 class="ion-text-start ">My Deen</h1>
            <img class="ion-text-end" src="../../assets/hijab copy.jpeg" alt="">
          </div>
          
          <div class="deen-content">
           
            <div class="deen-detail ion-padding">
              <div class="detail "  *ngFor="let item of user.my_deen" >
                <ion-icon  name={{item.icon}}></ion-icon>
                <ion-label  style="margin-left:20%">
                  <h3 class="ion-text-center">{{item.name}}</h3>
                  <h2 class="ion-text-center bold">{{item.description}}</h2>
                  
                </ion-label>
              </div>
              
            </div>
          </div>
         
        </div>
      </ion-card>
      <ion-segment [value]="selectedSection" (ionChange)="segmentChanged($event)" class="card-footer">
        <ion-segment-button value="images">
          <ion-icon size="large" name="images"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="deen">
          <ion-icon size="large" name="book"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="personal-detail">
          <ion-icon size="large" name="person"></ion-icon>
        </ion-segment-button>


      </ion-segment>
    </ion-slide>
  </ion-slides>


</ion-content>